# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Flask stuff:
instance/
.webassets-cache

# VSCode
.vscode

# the Computer Vision model
# still need to figure out how to get this to work
app/keras_model/model_cv.h5
app/keras_model/labels.txt